<% if session[:user_id]%>
<%= render 'comment/form', :post => @post %>
<% end %>

<% post.comments.each do |comment| %>
    <p>
        <%= comment.user.username.capitalize %> : 
        <%= comment.body %>
    </p>
<% end %>
