

<%# link_to image_tag("arrow_orange.png"), vote_path(@post, :id => post.id, :change => "up"), method: :put, :class => "upvote" %>

<div class='comment-votes'>

    <% v = CommentVote.find_by(comment_id: comment.id, post_id: comment.post.id, user_id: session[:user_id]) %>

    <% upvote_value = v ? v.value : ""  %>

    <% if upvote_value == 1 %>
        <%= link_to image_tag("arrow_orange.png"),
            comment_vote_path(
                comment,
                :id => comment.post.id,
                :comment_id => comment.id,
                :change => "up"
            ), method: :put, :class => "comment-upvote"
        %>
    <% else %>
        <%= link_to image_tag("arrow.png"),
            comment_vote_path(
                comment,
                :id => comment.post.id,
                :comment_id => comment.id,
                :change => "up"
            ), method: :put, :class => "comment-upvote"
        %>
    <% end %>

    <% if upvote_value == -1 %>
        <%= link_to image_tag("arrow_orange.png"),
            comment_vote_path(
            comment,
            :id => comment.post.id,
            :comment_id => comment.id,
            :change => "down"
            ), method: :put, :class => "comment-downvote"
        %>
    <% else %>
        <%= link_to image_tag("arrow.png"),
            comment_vote_path(
            comment,
            :id => comment.post.id,
            :comment_id => comment.id,
            :change => "down"
            ), method: :put, :class => "comment-downvote"
        %>
    <% end %>
</div>
