
<div class='header'>
    <%= link_to image_tag("logo.png"), root_path, :class => "logo" %>

    <div class='nav'>
        <div class='nav-top'>
        want to join? register in seconds
        </div>

        <div class='nav-bottom'>
        <a href='#'>bottom row </a>
        </div>
    </div>
</div>