
<div class='header'>
    <%= link_to image_tag("logo.png"), root_path, :class => "logo" %>

    <div class='nav'>
        <div class='nav-top'>
        want to join? register in seconds
        </div>

        <div class='nav-bottom'>
            <%= link_to "hot", sort_path(sort_type:"hot") %>
            <%= link_to "new", sort_path(sort_type:"new") %>
        </div>
    </div>
</div>