<p class='welcome-message'>
    Hello
    <%= link_to @current_user.username.capitalize, user_path(@current_user.id).to_s %> !
</p>

<%= link_to "Log Out", logout_path, method: :delete %>
<%= render 'posts/form' %>