
<div class='error'>
<% if notice %>
        <p><%= notice %></p>
<% end %>
</div>

<div class='container'>

    <%= render 'static/header' %>

    <div class='content-container'>
        <%= render 'posts/all_posts' %>
        <%= render 'static/sidebar' %>
    </div>
</div>