
<h1> Micro Reddit </h1>

<div class='logged'>
    <% if @current_user %>
        <%= render 'static/logged_in' %>
    <% else %>
        <%= render 'static/logged_out' %>
    <% end %>
</div>

<%= render 'posts/all_posts' %>