<div class='posts'>
    <% @posts.each do |post| %>
        <p>
            <%= post.title %> | <%= post.url %> <br>
            <%= link_to post.user_id, post %> _
            <%= post.user.username %>
        </p>
    <% end %>
</div>