<div class='posts'>
    <% @posts.each_with_index do |post, index| %>
        <div class='list-post'>
            <div class='index'>
                <%= index + 1 %>.
            </div>

            <%= render 'posts/post', :post => post  %>
        </div>
    <% end %>

    <div class='posts-nav'>
        view more:
        <%= link_to "« back", root_path(page: @page - 1 ) %>
        <%= link_to "next »", root_path(page: @page + 1 ) %>
    </div>

</div>