/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

.welcome-message {
    border-bottom: 1px dotted black;
    width: fit-content;
    padding-bottom: 10px;
}

body, html {
    font: normal small verdana, arial, helvetica, sans-serif;
}

a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: #551a8b;
}

.container {
    // width: 800px;
    padding: 0px 5px;
    box-sizing: border-box;
}

.header {
    margin-bottom: 5px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    .nav {
        display: flex;
        flex-direction: column;
        width: 100%;

        .nav-top {
            text-align: right;
            font-size: smaller;
            color: gray;
            padding: 5px;
        }

        .nav-bottom {
            background: #c6def7;
            width: 100%;
            box-sizing: border-box;

            a {
                display: block;
                width: fit-content;
                padding: 2px 5px;
                box-sizing: border-box;
                border-left: 2px solid white;
                border-right: 2px solid white;
                text-decoration: none;
                color: black;

                &:visited {
                    color: black;
                }

                &:hover {
                    background: #336699;
                    color: white;
                }
            }
        }
    }

    .logo {
        display: block;
        width: 125px;
        padding: 0px 5px;
        box-sizing: border-box;

        img {
            width: 100%;
        }
    }
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;

    .posts {
        width: 100%;
        // border: 1px solid blue;
    }
}

.sidebar {
    width: 250px;
    margin-left: 10px;
    box-sizing: border-box;
    border: 2px solid #73a1ca;
    padding: 5px;
    box-sizing: border-box;
    height: fit-content;
}

.error {
    background: rgb(255, 225, 225);
    color: red;
    width: 100%;
    padding: 30px 0px;
    box-sizing: border-box;
    text-align: center;
}