// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.list-post {
    padding: 5px 0px;
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;

    .index {
        color: darkgray;
        font-size: medium;
        text-align: right;
        width: 35px;
    }
}

.post {
    width: 100%;

    .top-line {
        color: #848484;
        font-size: smaller;

        a {
            font-size: medium;
        }
    }

    .bottom-line {
        color: gray;
        font-size: x-small;

        .points {
            display: inline-block;
        }
    }

    .comments {
        background: #f0f0f0;
        color: #848484;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.post-view {
    padding: 0px 5px;
    box-sizing: border-box;

    .post-view-container {
        width: 100%;
        display: flex;
        flex-direction: row;

        .post-view-content {
            width: 100%;

            .post-view-buttons {
                display: flex;
                flex-direction: row;
                padding: 0px;

                li {
                    list-style-type: none;
                    padding: 5px;
                    box-sizing: border-box;

                    a {
                        text-decoration: none;
                        color: blue;
                    }
                }
            }
        }
    }
}